body{

    background-image: url(gambar/BG.jpg);
    background-size: cover;
    

}
h3{
    text-align: center;
    margin-left: 50px;
    margin-top: 500px;
    color: rgb(122, 74, 46);
}

